body {
  font-family: 'dodo';
  font-weight: 400;
  background-color: #ffdf8c;
  color: white;
  padding: 30px;
  padding: 15px;
  max-width: 1500px;
  margin: 0 auto;

  @media (min-width: 768px) {
    padding: 25px;
  }

  @media (min-width: 1440px) {
    padding: 35px;
  }

  @media (min-width: 2000px) {
    padding: 45px;
    max-width: 1900px;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

#root {
  background-color: #fff;
  border-radius: 15px;
}
