body {
  font-family: 'dodo';
  font-weight: 400;
  background-color: #ffdf8c;
  color: white;
  padding: 30px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

#root {
  background-color: #fff;
  border-radius: 15px;
}
