.section {
  background-color: #fff;
  padding-bottom: 50px;
  padding-top: 50px;
}

.title {
  margin-bottom: 50px;
}

.list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 50px;

  width: 100%;

  & > li {
    & > svg {
      width: 100%;
    }
  }
}
